{% extends 'bootstrap/base.html' %}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link href="https://fonts.googleapis.com/css?family=BenchNine|Just+Another+Hand|Luckiest+Guy&display=swap" rel="stylesheet">
<link href="https://fontawesome.com/css/fontawesome.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/daec53f9a1.js"></script>

{% endblock %}
<!-- Navbar block -->
{% block navbar %}

    {% include 'navbar.html' %}
    
{% endblock %}
