{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<title> {{ title }} </title>

<!-- Content block -->
{% block content %}
<div class="container">

    <div class="row">

        <div class="col-md-2 col-lg-2">

            <button type="submit" class="btn btn-danger">

                DELETE BLOG

            </button>

        </div>

        <div class=" col-xs-10 col-sm-10 col-md-8 col-lg-8">
            <h2>

                <a href="/category/{{blog.category.id}}" class="pitch-content">

                    {{ blog.blog_content }}

                </a>

                <br>

                <small class="pitch-author"> by {{ blog.user.username }} </small>

            </h2>

        </div>





    </div>

</div>

<hr>

<div class="row">
    <div class="col-md-4 col-lg-4">

        <h2 class="comment-header">
            List of Comments
        </h2>

    </div>

    <div class="col-md-4 col-lg-4">

    </div>

    <div class="col-md-4 col-lg-4">

        <h3 class="comment-create">
            <a href="/blog/new/{{blog.id}}">
                Add Comment
            </a>
        </h3>

    </div>
</div>

<hr>


<ul class="list-unstyled">
    {{ macro.displayCommentList(comments) }}
</ul>


</div>
{% endblock %}